@charset "ISO-8859-1";

html, body {
	font-family: "Abel", sans-serif;
}

#banner {
	background-image:
		url("https://images.pexels.com/photos/913215/pexels-photo-913215.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	text-align: center;
	height: 40vh;
	background-size: cover;
	padding: 20px 0;
}

#banner h1 {
	font-size: 30pt;
	font-weight: bold;
	text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
	font-family: "Abel", sans-serif;
	color: rgba(255, 255, 255, 0.7);
}

#banner p {
	font-size: 16pt;
	font-weight: lighter;
	color: rgba(255, 255, 255, 0.7);
	margin-bottom: 20px;
}

.card {
	padding: 25px 0;
	text-align: center;
	display: block; 
	margin: 0 auto;
}

#footer {
	background-image:
		url("https://images.pexels.com/photos/913215/pexels-photo-913215.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-size: cover;
	height: 10vh;
	padding: 20px 0;
	color: rgba(255, 255, 255, 0.7);
}